body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
  color: #0d0c22;
}

div {
  display: block
}

/* NAVBAR */
.btn-pink-fill {
  background-color: #ea4c89;
  color: white;
  border-radius: 0.5em;
}

#name {
  font-family: "Sacramento";
  font-size: 32px;
}

.custom-nav {
  color: lightgrey
}

/* HERO */
.container-large {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 450px;
}

.shot-content {
  text-align: right;
  color: gray;
  font-size: 14px;
}

.catNav {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.navActive {
  background-color: darkgray;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px 20px;
  border: none;
}

.card img {
  border-radius: 0.5rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 2px;
}

.likes {
  display: flex;
  justify-content: flex-end;
}

/* FOOTER */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background-color: #fafafa;
}

.main-footer li {
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 0;
  font-size: 12px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 h5{
  font-size: 12px;
}
.col-1{
  width: 300px;
  margin-right: 50px;
}
.col-1 p {
  width: 250px;
  font-size: 12px;
  line-height: 1.25em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.col-2, .col-3, .col-4, .col-5, .col-6 {
  max-width: 8%;
}

.footer {
  color: 	#909090;
  background-color: #fafafa;
  border-top: solid 0.5px #D3D3D3;
}